@font-face {
    font-family: 'Futura-Std-Extra-Bold-Condensed-Oblique';
    src: url(../fonts/Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf);
}
@font-face {
    font-family: 'Futura-Std-Extra-bold-Oblique';
    src: url(../fonts/Futura\ Std\ Extra\ Bold\ Oblique.ttf);
}
@font-face {
    font-family: 'Futura-Std-Heavy-Oblique';
    src: url(../fonts/Futura\ Std\ Heavy\ Oblique.ttf);
}
@font-face {
    font-family: 'Futura-Std-Book-Oblique';
    src: url(../fonts/Futura\ Std\ Book\ Oblique.ttf);
}
@font-face {
    font-family: 'Futura-Std-Book';
    src: url(../fonts/Futura\ Std\ Book.ttf);
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 50px 0;
    margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
    font-family: 'Futura-Std-Heavy-Oblique';
    width: 60%;
    border-bottom: 2px solid rgb(255, 217, 0);
    color: #ffffff;
    padding-bottom: 10px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 800;
    position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li{
	font-size: 16px;
    font-family: 'Futura-Std-Book';
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li:hover{
	color: #ffffff;
	padding-left: 8px;
    cursor: pointer;
}
.footer-col .social-links{
	display: block;
    font-family: 'Futura-Std-Book';
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links ul{
    display: flex;
}
.footer-col .social-links li{
    padding-right: 20px;
}
.footer-col .social-links li:hover{
	color: rgb(255, 217, 0);
}